[submodule ".vim/pack/yaunj/start/vim-fugitive"]
	path = .vim/pack/yaunj/start/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/yaunj/start/vim-surround"]
	path = .vim/pack/yaunj/start/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule ".vim/pack/yaunj/start/vim-unimpaired"]
	path = .vim/pack/yaunj/start/vim-unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
[submodule ".vim/pack/yaunj/start/vim-eunuch"]
	path = .vim/pack/yaunj/start/vim-eunuch
	url = http://github.com/tpope/vim-eunuch.git
[submodule ".vim/pack/yaunj/start/vim-sleuth"]
	path = .vim/pack/yaunj/start/vim-sleuth
	url = http://github.com/tpope/vim-sleuth.git
[submodule ".vim/pack/yaunj/start/ale"]
	path = .vim/pack/yaunj/start/ale
	url = http://github.com/w0rp/ale.git
[submodule ".vim/pack/yaunj/start/gruvbox"]
	path = .vim/pack/yaunj/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule ".vim/pack/yaunj/start/seoul256.vim"]
	path = .vim/pack/yaunj/start/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim
[submodule ".vim/pack/yaunj/start/awesome-vim-colorschemes"]
	path = .vim/pack/yaunj/start/awesome-vim-colorschemes
	url = https://github.com/rafi/awesome-vim-colorschemes
[submodule ".vim/pack/yaunj/start/summerfruit256.vim"]
	path = .vim/pack/yaunj/start/summerfruit256.vim
	url = https://github.com/baeuml/summerfruit256.vim
[submodule ".vim/pack/yaunj/start/tomorrow-theme"]
	path = .vim/pack/yaunj/start/tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme
[submodule ".vim/pack/yaunj/opt/solarized8"]
	path = .vim/pack/yaunj/opt/solarized8
	url = https://github.com/lifepillar/vim-solarized8
[submodule ".vim/pack/yaunj/opt/papercolor-theme"]
	path = .vim/pack/yaunj/opt/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule ".vim/pack/yaunj/opt/gruvbox"]
	path = .vim/pack/yaunj/opt/gruvbox
	url = https://github.com/morhetz/gruvbox/
